 
 body {
    max-width: 600px;
    margin: 0 auto;
 }

 .One {
    background-color: #ffc0cb;
    border: 3px solid blue;
    padding: 32px;
    margin: 12px;

 }

 .Two {
    background-color: lightblue;
    border: 3px solid purple;
    margin-bottom: 48px;

 }

 .Three{
    box-sizing: border-box;
    background-color: peachpuff;
    border: 3px solid brown;
    width: 200px;
    padding: 32px;
    margin-left: auto;

 }